@import url('https://fonts.googleapis.com/css?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Concert+One&display=swap');

.content{
  font-family: 'Concert One', cursive;
}
.banner{
  background-image: url(../images/);
  height:70vh;
  background-repeat: no-repeat;
  background-position: center;
  overflow-x: hidden;
}
.overlaybanner{
  background-color: black;
  opacity: 0.7;
  height:70vh;
}
.award{
  font-size:50px;
}
