{% extends 'base.html' %}

{% block content %}

<section id="projects">
  <div class="container-fluid content mt-5">
    <div class="container-fluid mb-5">
       <h2 style="text-align:center">Welcome to Reviewer</h2><br>
        <h3 style="text-align:center">Share your projects and Rate other projects</h3>
    </div>
    <div class="row pl-3 pr-2 ml-2 mr-2">
        {% for project_item in projects %}
            <div class="col-lg-3">
                <div class="card-deck">

                    <div class="card" style="height:350px">
                      <!-- Card image -->
                    <div class="view overlay zoom">
                        <a href="/project/{{project_item.id}}">
                        <img class="card-img-top" src="{{project_item.image.url}}" alt="{{ project_item.project_name }}" height="300px">
                        </a>
                      </div>

                      <div class="card-body pr-2 pl-2 pr-2 mr-2">
                        <h4 class="card-title ml-4" style="text-align:center">{{ project_item.title }}</h4>

                      </div>
                      <div class="card-footer">
                          <span class="dark-text ml-2 mt-2"><img src="{{ project_item.author.profile.image.url }}" alt="" class="rounded-circle img-fluid mr-1 text-black" style="width: 30px;">BY {{project_item.author|upper}}<small><span class="ml-1 dark-text; float-right">submitted {{project_item.created_date|timesince}}</span></small></span>
                      </div>
                    </div>


                  </div>
                <!-- end of card deck  -->
  ​
            </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock %}