{% load static%}

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg  content sticky-top">

      <!-- Navbar brand -->
      <div class="award">
            <a class="nav-link text-dark" href="/">
              <h1>REVIEWER</h1>
              <span class="sr-only">(current)</span>
            </a>
      </div>
      <!-- Collapse button -->
      <button class="navbar-toggler bg-info text-white" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        Menu
      </button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto text-white">
          {% if user.is_authenticated %}
          <!-- Dropdown -->
          <div class="btn btn-dark btn-sm ml-5">
            <li class="nav-item dropdown ml-2 text-light">
              <a class="nav-link dropdown-toggle text-light" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false"><h5>Account</h5></a>
              <div class="dropdown-menu dropdown-primary text-dark" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              </div>
            </li>
          </div>
          <div class=" mt-2 btn btn-dark btn-sm ml-2">
            <li class="nav-item ml-2 ">
              <a class="nav-link text-light" href="{% url 'newproject' %}"><h5>SUBMIT PROJECT</h5></a>
            </li>
          </div>
          {% else %}
          <div class="btn btn-green btn-sm">
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'login' %}"><h5>Login</h5></a>
            </li>
          </div>
          <div class="btn btn-green btn-sm">
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'register' %}"><h5>Register</h5></a>
            </li>
          </div>
          {% endif %}
        </ul>
        <!-- Links -->


      <ul class="navbar-nav">
        <div class="btn btn-green -sm">
          <form class="form-inline" action="{% url 'search' %}">
            <div class="md-form my-0">
                  <input class="form-control text-white" type="text" placeholder="Search" aria-label="Search" name="post">
            </div>
          </form>
        </div>
      </ul>
      </div>
      <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->