{% load static%}

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg  content sticky-top">

      <!-- Navbar brand -->
      <div class="award">
            <a class="nav-link text-dark" href="/">
              <h1>REVIEWER</h1>
              <span class="sr-only">(current)</span>
            </a>
      </div>
      <!-- Collapse button -->
      <button class="navbar-toggler bg-info text-white" type="button" data-toggle="collapse" data-target="#basicExampleNav"
        aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        Menu
      </button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto text-white">
          {% if user.is_authenticated %}
          <div class="dropdown">
              <button class="btn btn-green dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               My Account
              </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="{% url 'profile' %}">Profile</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                  </div>
          </div>
          <div class=" mt-2 btn btn-green btn-sm ml-2">
            <li class="nav-item ml-2 ">
              <a class="nav-link text-light" href="{% url 'newproject' %}" style="font-weight:bold"><h7>SUBMIT PROJECT</h7></a>
            </li>
          </div>
          {% else %}
          <div class="btn btn-green btn-sm">
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'login' %}"><h5>Login</h5></a>
            </li>
          </div>
          <div class="btn btn-green btn-sm">
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'register' %}"><h5>Register</h5></a>
            </li>
          </div>
          {% endif %}
        </ul>
        <!-- Links -->


      <ul class="navbar-nav">
            <div class="btn btn-green -sm">
              <form class="navbar-form navbar-left" action="{% url 'search' %}">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search" name="post" style="text-align:center; font-size:12px">
                      <button class="btn btn-sm" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                      </button>
                    </div>
                  </div>
                </form>
        </div>
      </ul>
      </div>
      <!-- Collapsible content -->

    </nav>
    <!--/.Navbar-->